<div class="wrapper">
  <%= render 'shared/header' %>
  <main class="wrap">
    <div class="side-bar">
      <div class="side-bar-header">
        <h2>タグ一覧</h2>
      </div>
      <div class="tags-list">
        <div class="tag">
          <%= link_to "Private", goals_path(tag_id: 2), class: 'tag-Private-text' %>
        </div>
        <div class="tag">
          <%= link_to "Work", goals_path(tag_id: 3), class: 'tag-Work-text' %>
        </div>
      </div>
    </div>
    <div class="main-contents">
      <div class="main-header">
        <h2>目標一覧</h2>
      </div>
      <div class="goals-list">
        <%= render partial: 'goal', collection: @goals %>
      </div>
    </div>
  </main>
  <%= render 'shared/footer' %>
</div>
