<div class="wrapper">
  <%= render 'shared/header' %>
  <%= form_with model: @goal, local: true do |f| %>
    <div class="goal-input-field">
      <%= render 'shared/error_messages', model: f.object %>
      <%= f.label :title, :目標, class: 'goal-title-label' %>
      <%= f.text_field :title, class: 'goal-title-input', placeholder: '目指すものの目印' %>
      <%= f.label :title, :目的, class: 'goal-purpose-label' %>
      <%= f.text_area :purpose, class: 'goal-purpose-input', placeholder: '目指すものの意図' %>
      <%= f.label :title, :タグ %>
      <%= f.collection_select(:tag_id, Tag.all, :id, :name, {}, {class: 'tag-select'}) %>
      <%= f.submit '宣言！', class: 'submit-btn' %>
    </div>
  <% end %>
  <%= render 'shared/footer' %>
</div>